<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Forget">
    <meta name="author" content="nesterione">
    
    {% if title %}
    <title>{{title}} - Events</title>
    {% else %}
    <title>microblog</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="/static/jquery/jquery.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Events platform</h3>
      </div>

		{% block content %}{% endblock %}

      <footer class="footer">
        <p>&copy; right have</p>
      </footer>

    </div> <!-- /container -->
  </body>

</html>



