<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if description %}
    <meta name="description"
          content="{{description}}">
    {% else %}
    <meta name="description"
          content="Разлычные события, интеллектуальные игры, спортивные мероприятия. Удобный сбособ собраться вместе.">
    {% endif %}

    <meta name="author" content="nesterione">

    {% if title %}
    <title>{{title}} - Events</title>
    {% else %}
    <title>Events platform</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="/static/jquery/jquery.js"></script>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted"><a href="/">Events platform</a></h3>
    </div>

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>&copy;right have</p>
    </footer>

</div> <!-- /container -->
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43489784 = new Ya.Metrika({
                    id:43489784,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");

</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/43489784" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</html>



