{% extends "base.html" %}
{% block content %}

<div class="row marketing">

    {% if event is not defined %}
        {% set event = None %}
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Title"
                   value="{{event.title if event!=None}}">
        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" name="description" id="inputDescription" placeholder="Description">{{event.description if event!=None}}</textarea>
        </div>

        <div class="form-group">
            <label for="inputLocation">Location</label>
            <input type="text" class="form-control" name="location" id="inputLocation" placeholder="Location"
                   value="{{event.location if event!=None}}">
        </div>

        <div class="form-group">
            <label for="inputDate">Date</label>
            <input type="text" class="form-control" name="date" id="inputDate" placeholder="Date" value="{{event.date if event!=None}}">
        </div>

        <div class="form-group">
            <label for="inputPrice">Price</label>
            <input type="text" class="form-control" name="price" id="inputPrice" placeholder="Price"
                   value="{{event.price if event!=None}}">
        </div>

        <div class="form-group">
            <label for="inputTags">Tags (separated by space)</label>
            <input type="text" class="form-control" name="tags" id="inputTags" placeholder="Tags (separated by space)"
                   value="{{event.tags if event!=None}}">
        </div>

        <button type="submit" class="btn btn-default">
            {% if event %}
            Update
            {% else %}
            Create
            {% endif %}
        </button>
    </form>

</div>

{% endblock %}