{% extends "base.html" %}
{% block content %}


<div class="row marketing">
    <div>
        <div id="messages"></div>
        <h3><a href="/event/{{event._id}}">#{{event._id}} - {{event.title}} </a></h3>

        <div class="text-right">
            <a href="/event/{{event._id}}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</a>
            &nbsp;&nbsp;
            <a href="javascript:closeEvent();"><span class="glyphicon glyphicon-trash"
                                                     aria-hidden="true"></span>Close</a>
        </div>
        <div id="_id" style="visibility:hidden">{{event._id}}</div>
        <p>{{event.description}}</p>
        <p><b>Where: </b> {{event.location}}</p>
        <p><b>When: </b> {{event.date}}</p>
        <p><b>Price: </b> {{event.price}}</p>
        <p>
            <b>Tags:</b>
            {% for tag in event.tags%}
            #{{tag}}&nbsp;
            {% endfor %}
        </p>
        <hr>

        <form class="form-inline" action="/event/{{event._id}}/attendees" method="post">
            <div class="form-group">
                <label for="inputName">Who are you?</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="inputNotes">Notes</label>
                <input type="text" name="notes" class="form-control" id="inputNotes" placeholder="Notes">
            </div>
            <button type="submit" class="btn btn-default">Add me!</button>
        </form>
        <hr>
        <p><b>Attedees ({{event.count}})</b></p>
        {% for attendee in event.attendees%}

        <div class="row attendee">
            <div class="col-md-10">
                <b>{{attendee.name}}</b>
                <p>{{attendee.notes}}</p>
            </div>
            <div class="col-md-2 text-right">
                <a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<script>
    function closeEvent(ev) {

     var eventId = $('#_id').text();

     $.post("/event/"+eventId+"/delete").done(function() {
        $('#messages').append( '<div class="alert alert-danger" role="alert">This event was closed!</div>' );
       }).fail(function() {
        alert( "error" );
       });
     }

</script>
<!--$('#messages')-->

{% endblock %}