{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h2>Welcome Events App</h2>
    <p class="lead">App in progress...</p>
</div>

<div class="row marketing">
    {% for event in events %}
        <div>
            <h4> <a href="/event/{{event._id}}">#{{event._id}} - {{event.title}} </a></h4>
            <p>{{event.description}}</p>
            <p> <b>Where: </b> {{event.location}}</p>
            <p> <b>When: </b> {{event.date}}</p>
            <p> <b>Price: </b> {{event.price}}</p>
            <p>
                <b>Tags:</b>
                {% for tag in event.tags%}
                    #{{tag}}&nbsp;
                {% endfor %}
            </p>
        </div>
        <hr>
    {% endfor %}

</div>

{% endblock %}